[2019-06-24 13:27] donni106 opened #2 "Contents disappearing after table is load"
I have a screen with different html sections.
With using the react-native-render-html-table-bridge `renderers`, every section without a table gets loss of its content in the moment the table is rendered.
I see the other html sections for a second and than they are away.

Implementation:
[code]

On screens with html sections without a table everything still works.
But on screens where somewhere a t

[2019-06-24 14:14] jsamr commented on #2
@donni106 I don't have much time available, so to help you I would need a minimal reproduction, in the form of a git repository. Please read this before sharing this reproduction: https://stackoverflow.com/help/minimal-reproducible-example

[2019-06-24 14:55] donni106 commented on #2
No, I can't. I tried to reproduce it with your simple example changing the table html and rendering multiple `<HTML...` sections. But the effect does not happen, somehow sadly :/
Package versions seems to be the same.
I am in an Expo app, maybe interesting to mention?

I will make a more deep comparison now.

[2019-06-24 14:57] jsamr commented on #2
Yes, you should import `WebView` from expo instead of from external package! It's mentioned somewhere in the readme :-)

[2019-06-24 14:59] donni106 commented on #2
I do it like they mentioned and am using `WebView` already for a different case.

[2019-06-24 15:02] jsamr commented on #2
@donni106 OK, they might have changed instructions on their latest release, 33.

If you cannot reproduce the issue with a small example, there is a good chance the bug comes from your code. You could try to [disable automatic height behavior](https://github.com/jsamr/react-native-render-html-table-bridge#autoheight) and see if the issue is persisting. If it isn't, I might have to check your layout

[2019-06-24 15:13] donni106 commented on #2
Oh yes! It is a flex issue! I removed a `flex: 1` from the wrapping container `View` and the behavior is gone.
Thx for helping!

[2019-06-24 15:48] #2 closed

[2019-06-24 20:01] jsamr commented on #2
@donni106 I'm glad you found out :-)

[2019-06-29 08:51] azuddin opened #3 "how to add additional rule inside alterNode function?"
having difficulties on how to add additional condition to alterNode function without overriding it.
other than manually updating the package, is there any way to do it?
i wanted to add these to alterNode function

if (node.name === "img") {
    node.attribs = {
      ...(node.attribs || {}),
      style: `height:"auto";`
    };
  }

[2019-06-29 08:57] azuddin commented on #3
Nvm, just found the solutions.

[code]

[2019-06-29 08:57] #3 closed

[2019-07-10 11:31] sonytooo opened #4 "Error evaluating injectedJavaScript"
Hi,
It seems that I have this error only on a ios simulator. It works on real devices (both Android and ios). Tested with Expo version: "33.0.0" and WebView (react-native-webview) version > 5.0.0.

The only thing I've noticed is that the error message appears with a little delay after the building of the bundle is finished. It works fine when I import the WebView from react-native but crashes with

[2019-07-10 18:29] jsamr commented on #4
@sonytooo The injected script is here: [`src/HTMLTable/script.ts`](https://github.com/jsamr/react-native-render-html-table-bridge/blob/master/src/HTMLTable/script.ts). Indeed, there is no return type used.

Can you provide a minimal reproduction? Are you using WKWebView or UIWebView?

[2019-07-12 14:23] jsamr commented on #4
@sonytooo I see two related issues from react-native-webview:

- react-native-community/react-native-webview#502
- react-native-community/react-native-webview#341

They suggest executing code in a closure. I'll add a patch, and you'll be able to test and tell me if the error remains.

[2019-07-12 15:08] jsamr commented on #4
@sonytooo please try `npm install react-native-render-html-table-bridge@0.4.0-rc.1` and tell me if the bug persists.

[2019-07-19 08:38] jsamr commented on #4
@sonytooo any news?

[2019-07-30 17:08] janrop commented on #4
After upgrading to 0.4.0-rc.1 the issue seems to persist.

`
Error evaluating injectedJavaScript: This is possibly due to an unsupported return type. Try adding true to the end of your injectedJavaScript string.

__45-[ABI33_0_0RNCWKWebView evaluateJS:thenCall:]_block_invoke
    ABI33_0_0RNCWKWebView.m:767
WTF::Function<void (API::SerializedScriptValue*, bool, WebCore::ExceptionDetails const&, Web

[2019-07-31 09:46] superKalo commented on #4
@jsamr thank you for a fix in **v0.4.0-rc.1**! I confirm, problem is resolved on our end with this version! :)

PS: @sonytooo says thanks too! Sorry that he couldn't reply to you earlier.

[2019-07-31 17:27] janrop commented on #4
Could you tell me your other dependencies versions?
I am still experiencing the issue on:

expo: "^33.0.0"
react-native-render-html": "^4.1.2"
react-native-render-html-table-bridge": "^0.4.0-rc.2"
react-native-snap-carousel": "^3.6.0"
react-native-webview": "^5.8.1"

[2019-08-02 07:27] superKalo commented on #4
Same for everything, except we don'h have `react-native-snap-carousel` and we are using `react-native-webview` at v5.12.1. Try to update it maybe?

One more thing is that we're using fixed versions of these libs. Maybe this helps:

[code]

[2019-08-04 15:56] janrop commented on #4
Unfortunately I am still getting the same error, even after using the exact same dependencies.

This ist my components displaying the html:

    import React, {PureComponent} from 'react';
    import { View, Text } from 'react-native';
    import HTML from 'react-native-render-html';
    import { IGNORED_TAGS, alterNode, makeTableRenderer } from 'react-native-render-html-table-bridge';
    import

[2019-08-12 13:36] jsamr commented on #4
@janrop @superKalo Perhaps the bug is orthogonal from the dependency tree, and instead related to the iOS version of the terminal you tested. Could you please provide a list of terminals you tested, and the output of those tests?

[2019-08-15 07:39] janrop commented on #4
How do describe a terminal? After your comment I tried running it on devices and it seems to work there. Only the Simulator still shows the error message.

[2019-08-15 15:21] jsamr commented on #4
@janrop That's a confusion of words of my own! In french « terminal » stands for « device »; I just mixed the two languages ^^

[2019-08-20 17:40] janrop opened #5 "HTML.onLinkPress does not get fired if link contains html elements"
Hi there,

I noticed a bug which causes the onLinkPress method to not be fired.

If there is an anchor element inside a table which itself contains more markup (i.E. an img or an i-tag), the onLinkPress method does not fire.

    "react-native-render-html": "4.1.2",
    "react-native-render-html-table-bridge": "0.4.0-rc.1",
    "react-native-webview": "5.12.1",

HTML to reproduce:

    <table styl

[2019-09-12 23:25] mllngtn opened #6 "Is there a way to apply styles to the WebView?"
Hi,

A mysterious black 'border' is showing at the bottom of my WebView on iOS: ![Screen Shot 2019-09-13 at 11 20 30 AM](https://user-images.githubusercontent.com/988313/64827514-9b070b00-d618-11e9-92c6-391c4ca9fda9.png)

It looks like this is a known issue with react-native-webview - the fix is to specify a transparent background color for the WebView: https://stackoverflow.com/questions/41188362

[2019-09-13 11:30] jsamr commented on #6
@mllngtn Have you tried with [`webviewProps`](https://github.com/jsamr/react-native-render-html-table-bridge#webviewprops)? You should be able to pass a `style` prop through it.

[2019-09-17 20:40] mllngtn commented on #6
@jsamr Thank you! I am a fool and somehow skipped over that section of the docs

[2019-09-17 20:40] #6 closed

[2019-09-26 11:24] #4 closed

[2019-09-26 13:22] jsamr commented on #5
@janrop I could reproduce. Investigating.

[2019-09-26 13:57] #5 closed

[2019-11-14 14:15] thijs-qv opened #8 "Border attribute is not taken into account when calculating height"
If you have a border attribute on the table, eg.
`<table border="1">...</table>` it is not taken into account when calculating height (using autoheight: true).

[2019-11-19 17:52] maicolsantos commented on #8
the following code snippet works to me, for now.
I'm waiting for an official fix.

[code]

[2019-11-19 17:56] jsamr commented on #8
@thijs-qv @maicolsantos This is [likely a box-sizing issue](https://www.w3schools.com/css/css3_box-sizing.asp).

Can you try to add a CSS rule for the table element as such, and tell me if the issue disappear?

[code]

[2019-11-20 08:33] thijs-qv commented on #8
I've added the rule to css-rules.js, but the issue still persists.

[2019-11-20 09:55] jsamr commented on #8
OK. Please provide me [a minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) (ideally, a git), and I'll be happy to investigate.

[2019-11-20 11:36] thijs-qv commented on #8
I've placed a simple example [here](https://github.com/thijs-qv/rnrhtb-example).
Would be great if you can take a look.

[2019-11-20 14:17] jsamr commented on #8
@thijs-qv @maicolsantos This is my understanding of the issue so far:

1. The `border` table attribute is a legacy from old HTML specs, and is not part of the HTML 5 standard anymore.
2. The `border` table attribute is ignored when my script computes table's height because it uses, for best browser support, the [scrollHeight](https://www.w3schools.com/jsref/prop_element_scrollheight.asp).

I could

[2019-11-20 14:39] thijs-qv commented on #8
Thanks for looking into it. I'm not sure if adding the `borderWidth` to the `scrollHeight` will solve the issue. The `border` attribute specifies if a border should be displayed around the table cells or not. So it's not just the table that gets a border, but the cells as well.

[2019-11-20 14:42] jsamr commented on #8
@thijs-qv I don't think that is an issue because inner borders will be taken into account in `scrollHeight`. It did work on your MWE. Please test again with `0.5.1-rc.0`, and let me know :-)

[2019-11-20 14:53] thijs-qv commented on #8
@jsamr You are correct, that is not an issue, it's working well now. Thank you / merci beaucoup!

[2019-11-20 14:57] #8 closed

[2019-11-20 14:57] jsamr commented on #8
@thijs-qv You're very welcomed!

[2019-11-20 16:02] maicolsantos commented on #8
@jsamr it's working well now. Thank you 🤓

[2019-11-20 17:42] jsamr commented on #8
@maicolsantos I realize you're from Fortaleza, aren't you? I've just moved from France to Juazeiro do Norte, what a coincidence!

[2019-11-25 11:29] maicolsantos commented on #8
@jsamr I sent you an email. 🤓

[2020-01-14 03:42] Runtime007 opened #9 "Android scroll conflict"
In Android, if Html in ScrollView and table's columns > 2, it's not easy to scroll table to the left to show other columns. iOS is OK.
[code]
![image](https://user-images.githubusercontent.com/5061166/72312326-c0894b80-36c2-11ea-9c91-2706d860ded0.png)

[2020-01-14 11:11] jsamr commented on #9
@Runtime007 To help you, I will need you to produce a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), in the form of an expo snack or git repository. Also, I am not sure about the issue!

[2020-01-15 09:22] Runtime007 commented on #9
[here ](https://github.com/Runtime007/test4htmlrenderbidge.git)is the code. ` Android 9.0 Galaxy s9+`. I try to scroll the table to left or right, but the ScrollView captured the move event and it scrolls down or up, there is no response for the table sometimes.

[2020-01-16 09:54] Runtime007 commented on #9
hi, @jsamr, this issue has troubled me several days. I try to fix it by setting `PanResponder` for webview and listening to touch events to avoid scroll conflict but come to nothing. So I have to change android source code for react-native-webview, and it works.
[code]

[2020-01-16 10:18] jsamr commented on #9
@Runtime007 I'll take a look today!

[2020-01-16 14:47] jsamr commented on #9
@Runtime007 The issue is that you would like a minimum dy value for the gesture to trigger a scroll event in the root ScrollView component. Something like the `activeOffsetY` prop from [RNGH `PanGestureHandler`](https://software-mansion.github.io/react-native-gesture-handler/docs/handler-pan.html#activeoffsety)

I see two options :

1. [Get inspiration from this hacking](https://medium.com/@contac

[2020-01-16 14:47] #9 closed

[2020-01-16 14:52] jsamr commented on #9
Third option : I would suggest you offer a PR to `react-native-webview` with a prop enabling the behavior you have implemented. Not sure about the best chose of words though!

[2020-01-17 02:49] Runtime007 commented on #9
Thank you very much for your proposals, I'll check and try, to see if it can be implemented on the react side.

Best regards.

[2020-04-10 06:37] nolife08021 opened #13 "How to set fontfamily?"
It pop "Unrecognized font family 'DengXian'" error, how can i set in style that all will use as fontFamily:system ?
Or is that anyway to ignore the font-family style?

I have tried set `baseFontStyle={{ fontFamily:"System" }}` but same error shows out.

`"<p><span style=\"font-family:DengXian; font-size:15.0pt\">testing</span></p>"
`

[2020-04-11 13:50] jsamr commented on #13
@nolife08021 To use custom fonts, you need to ship them with your app. [Read this thread for more information](https://github.com/react-native-community/react-native-webview/issues/326#issuecomment-510005798).

[2020-04-11 13:50] #13 closed

[2020-05-07 06:56] sunilprajapati714 opened #15 "How to add cellspacing style of Table View?"
I'm able to add cellpadding using `cellPaddingEm` in tableview.

How can I add cellspacing in tableview?

Want tableview like this screen shot 👇🏻
![Screenshot 2020-05-07 at 12 24 29 PM](https://user-images.githubusercontent.com/29479459/81263677-bb7b4e00-905d-11ea-8eca-2fa2801c03d3.png)

[2020-05-07 11:40] jsamr commented on #15
@sunilprajapati714 You can use the [border-spacing](https://www.w3schools.com/cssref/pr_border-spacing.asp) css attribute. Pass css with the [`cssRules` config](https://github.com/jsamr/react-native-render-html-table-bridge#how-to-extend-default-or-custom-styles).

[2020-05-07 11:40] #15 closed

[2020-05-11 07:42] sunilprajapati714 commented on #15
[code]

This `tableStyleSpecs` will no more work if pass css with the **cssRules config**.

[2020-05-16 18:59] chr314 commented on #9
#14 merged, now you can use onMessage and injectedJavaScript webview props

you can disable scroll of ScrollView with scrollEnabled prop

[code]

[code]

[2020-06-26 11:48] luatnd opened #16 "postMessage from webpage to react-native side does not work for very first moment => container height was not updated"
Hi, I faced a problem on Android only:

If my content has `<table>` tag, it will render the blank space after the webview and this blank section does not disappear.

![image](https://user-images.githubusercontent.com/1859127/85853066-0ef75600-b7dc-11ea-8df1-aed5ed7a5333.png)

As I debugged the render step:
1. WebView was rendered with the calculated height here `/node_modules/react-native-render-h

[2020-06-26 17:50] jsamr commented on #16
@luatnd Need more info:

- React native distribution and version? (expo, official)
- On which devices with witch Android version?
- Could you reproduce with an emulator?
- Are you using the latest react-native-webview version?

[2020-06-29 04:48] luatnd commented on #16
Thank you, it seems to appear on Android older versions.

I'm using official, not expo

As I checked:
- Android 9 on Xiao Mi 8 lite => working fine
- Android 5 on Sharp Aquos => **has this issue**
- Android 5 on Mi 3 => **has this issue**

Yes, here the device info:
![image](https://user-images.githubusercontent.com/1859127/85973128-fcf3fe00-b9fb-11ea-86cc-eb16e574aa57.png)

Here the versions

rea

[2020-06-29 11:01] jsamr commented on #16
@luatnd Thank you for reporting and investigating the issue. For whatever reason, RNWV seems to run the script too early. I see the following hypotheses:

- Incompatible Android version. What hint me is that, according to the output of react-native info, the minimum API Level version is 23. Android API Level version 23 [corresponds to Android 6.0](https://source.android.com/setup/start/build-numbe

[2020-07-01 08:06] luatnd commented on #16
Thanks,
tried with "react-native-webview": "^10.3.2" + append `true` injectedScript without success.
Luckily our users rarely use Android 5

[2020-07-01 14:21] tienkhoa16 opened #17 "How to adjust the table to fit container"
Hi,

May I ask how I can adjust the table to fit the container? I tried setting the fitContainer in cssRules to true but it seems to make no difference.

[2020-07-01 16:28] jsamr commented on #16
@luatnd I've just looked it up: react-native-webview claims support for [minimum API version 16](https://github.com/react-native-community/react-native-webview/blob/master/android/build.gradle#L41). So I think it would be appropriate to fill a bug in there issue tracker with a minimal reproduction. If you want help with the reproduction, we can work things out together :-)

[2020-07-01 16:35] jsamr commented on #17
@tienkhoa16 I will be happy to help you if you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) of your issue!

[2020-07-02 07:12] tienkhoa16 commented on #17
**For a big screen, the table is too small:**
![BigScreen](https://user-images.githubusercontent.com/60292763/86325459-a6dcc000-bc72-11ea-981f-5ad5bd29c292.png)

**For a smaller screen, the table is too big that user has to scroll left and right to see it:**
![SmallScreen](https://user-images.githubusercontent.com/60292763/86326255-01c2e700-bc74-11ea-90a2-8e4ecd177248.png)

**My code for rendering

[2020-07-03 11:26] jsamr commented on #17
@tienkhoa16 I'm working on it. Will keep you updated.

[2020-07-03 23:57] jsamr commented on #17
@tienkhoa16 I've just released v0.6.1 with features that should help you.

A few comments:

I'm not aware that react-native-webview does that. But if you want to play with RNWV props, you can use [`webViewProps` config attribute](https://github.com/jsamr/react-native-render-html-table-bridge#webviewprops). The web engine will try to fit the table into the container width, but if it can't, the tabl

[2020-07-04 02:32] tienkhoa16 commented on #17
@jsamr Thanks a lot. It works as expected for me now 👍

[2020-07-04 08:43] #17 closed

[2020-07-04 12:29] jsamr commented on #16
@luatnd Can you try again with just-released v0.6.1? I have tried to reproduce with it on a API22 emulator, but it seemed to work, at least with the example/simple app.

[2020-07-13 06:07] drb1 opened #18 "android crash while navigating back to screen after rendering html table content"
"react-native-render-html": "^4.2.1",
    "react-native-render-html-table-bridge": "^0.6.1",
    "react-native-webview": "10.3.2",
    "react-native": "0.61.5",

07-13 11:44:27.642 10598 10598 F crashpad: dlopen: dlopen failed: library "libandroidicu.so" not found: needed by /system/lib/libharfbuzz_ng.so in namespace (default)
--------- beginning of crash
07-13 11:44:27.644 10373 10395 F libc    :

[2020-07-13 12:10] jsamr commented on #18
@drb1 This issue tracker should have templates for bug reports, so the blame ain't on you! I will fix that soon. But I would need more info on your part help you.

- Ideally, [a minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).
- In the meantime to debug the Webview, I suggest you do the following:
  - On an android emulator, do the necessary actions to re

[2020-07-15 14:58] msuma268 opened #19 "Is it possible to disable scrolling within HTML component instead use scroll of parent scrollview"
I used this library as shown in the example and was able to render HTMLs with table tags as expected. However, if HTML is wrapped with Scrollview then there are 2 scrolls shown on the UI (one for parent Scrollview and the other for the Webview).

Is it possible to hide scroll of Webview and instead use Scroll of parent view i.e, ScrollView?

[2020-07-15 15:28] jsamr commented on #19
@msuma268 Good question, that could be added in a FAQ. Can you share a small reproduction [with a snack](https://snack.expo.io)? That will help me help you :-)

[2020-07-30 09:59] jsamr commented on #18
Closing in favor of https://github.com/archriss/react-native-render-html/issues/393#issuecomment-666266459

[2020-07-30 09:59] #18 closed

[2020-08-11 07:11] BogdanRad opened #23 "How can i change the style for table?"
@jsamr How can i set the background color transparent and remove the border? Thanks!

I have to make it in this form
![image](https://user-images.githubusercontent.com/40359109/89868100-ee803100-dbba-11ea-9537-b9cd91fd1f93.png).

And now my design is:
![image](https://user-images.githubusercontent.com/40359109/89868152-02c42e00-dbbb-11ea-803c-cb7c4f902a7b.png)

[2020-08-11 08:01] jsamr commented on #23
@BogdanRad See https://github.com/native-html/table-plugin#tablestylespecs

[2020-08-11 09:00] BogdanRad commented on #23
@jsamr can you give me an example please?
here is my code, but don't working...
![image](https://user-images.githubusercontent.com/40359109/89878392-280c6880-dbca-11ea-941e-d9274aefac53.png)

[2020-08-11 09:08] jsamr commented on #23
@BogdanRad I'm willing to help, but I would need you to create a snack first, so that I can reproduce the issue consistently. I suggest you start from our snack template here: https://snack.expo.io/@jsamr/rnrhtml-template, and you can post the link when you're ready.

[2020-08-11 09:55] BogdanRad commented on #23
Thanks @jsamr . I updated the link: https://snack.expo.io/0Ei30zf1B

[2020-08-11 09:59] jsamr commented on #23
@BogdanRad Perhaps it is just an omission. But you are not passing the config to the HTML component, so there is no chances the rendering can work! Have you tried your snack on the expo app for iOS / Android?

[code]
with
[code]

[2020-08-11 10:02] BogdanRad commented on #23
I updated the link. I added htmlConfig to <HTML /> but doesn't working.. the style doesn't change.
Is it ok how I add in config?

[2020-08-11 12:38] jsamr commented on #23
@BogdanRad You are absolutely right. I'm looking into it and publishing a pre-release soon.

[2020-08-11 12:49] jsamr commented on #23
@BogdanRad Actually I am wrong! The library just work as expected. You misunderstood (and I didn't realize) that the tableStyleSpecs is an attribut **of the `makeTableRenderer` config parameter**.

So you can now do instead:

[code]
Next time, take the time to read the documentation.

[2020-08-11 12:49] #23 closed

[2020-09-16 09:42] shalinivathra opened #24 "img tag is not supported inside table"
Hi,
I used this library for displaying the table. its working fine in normal text. but its not supported `<img>`  inside `<table>` . Could you please suggest how can use `<img>` inside `<table>`.

Thanks,
Shalini

[2020-09-16 09:46] shalinivathra commented on #24
img tag is not working inside table tag. Could you please fix this issue

[2020-09-16 10:19] jsamr commented on #24
@shalinivathra Please provide a reproduction to help me help you! In my experience, images inside tables **do work**, provided of course that URLs are not relatives. Best to follow the official templates.

[2020-09-16 11:17] shalinivathra commented on #24
<table border="1" cellpadding="1" cellspacing="0" style="border-collapse:collapse; width:100%">
     <tbody>
      <tr>
       <td style="width:124px"> <p style="text-align:center"><span style="font-family:Arial,Helvetica,sans-serif"><img alt="" src="file:////data/user/0/com.android.sampleapp/files/TEST/Test.war/Image/logo.png"></span></p> </td>
       <td style="text-align:center; vertical-align:

[2020-09-16 11:19] shalinivathra commented on #24
Here first column is logo .. in react-native mobile app img tag inside table is not working. But out of table view img is showing

[2020-09-16 11:20] shalinivathra commented on #24
Could you please help me for this

[2020-09-16 12:12] jsamr commented on #24
@shalinivathra To help you, I need a complete reproduction! I suggest you read this to get a hint on what I mean by that: https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.adoc#submitting-a-bug

I should add a contribution guide to this repository though.

[2020-09-16 13:22] jsamr commented on #24
@shalinivathra I edited your example to add syntax highlight in markdown... It looks like you are attempting to load a local file.

Local assets are not supported officially supported by **react-native-webview**, see for reference https://github.com/react-native-community/react-native-webview/issues/1413 and https://github.com/react-native-community/react-native-webview/blob/master/docs/Guide.md#l

[2020-09-16 13:22] #24 closed

[2020-09-16 16:36] shalinivathra commented on #24
Hi,
But image loading from local path outside table tag. its not loading only inside table tag. If Local assets are not supported officially by react-native-webview, how its loading outside table tag?.. kindly advise

[2020-09-16 16:46] jsamr commented on #24
@shalinivathra react-native-webview and react-native-render-html are two distinct packages!

[2020-09-17 12:08] shalinivathra commented on #24
ok, so its not possible load local image inside table right?..

[2020-09-17 12:15] jsamr commented on #24
@shalinivathra Yes ... react-native-render-html purpose is to transform HTML to a tree of native components, while react-native-webview renders a full DOM with a web engine, these are two very different approaches. Because React Native doesn't offer a layout algorithm to display table and / or grid views, the only way to render HTML tables is with WebView, hence the hybrid approach. But this comes

[2020-09-28 18:07] #16 closed

[2020-09-28 19:30] jsamr commented on #19
@msuma268 I suggest you disable horizontal scrolling from the parent ScrollView with `horizontal: false` prop. Closing now! Don't hesitate to reply if you have any question regarding this issue.

[2020-09-28 19:30] #19 closed

[2020-09-29 11:35] luatnd commented on #16
I've just tested 2 versions, it still doesn't work with `react-native-render-html-table-bridge@0.6.1` and `@native-html/table-plugin@2`

[2020-09-29 11:57] luatnd commented on #16
BTW, I cannot reproduce the issue with a blank new project but can reproduce on my real app, I would try to display the table inside the SectionList item tomorrow

[2020-09-29 13:03] jsamr commented on #16
@luatnd Because you reported the issue doesn't appear in a blank new project; are you confident that the cache was reset properly after upgrading, to avoid running outdated cache modules? Thinking about this: https://stackoverflow.com/a/63111913/2779871

[2020-10-02 07:26] thidasapankaja opened #25 "Works fine for iOS but breaking in PWA"
First of all thanks for the library. I'm wondering does this supports PWA or just iOS and Web?

The same table renders correctly in the iOS device but getting error on Web (Chrome)

[code]

The same code works correctly in iOS device, but breaking on Web.

[2020-10-02 08:34] jsamr commented on #25
@thidasapankaja It breaks because of `react-native-webview` which has no support for Web. react-native-web is not an official project of React Native, and this library doesn't claim support for it. However, it might work if you replace  WebView from `react-native-webview` with [`react-native-web-webview`](https://github.com/react-native-web-community/react-native-web-webview), but I have never tri

[2020-10-02 08:39] thidasapankaja commented on #25
@jsamr Thanks a lot. sure. I'll check that and update here.

[2020-10-02 08:40] jsamr commented on #25
You can also use a web alias :-) https://necolas.github.io/react-native-web/docs/?path=/docs/overview-getting-started--page#configuring-a-module-bundler

[2020-10-04 11:05] jsamr commented on #25
@thidasapankaja Did that work out for you? I was thinking of implementing a custom "react-native-web-webview" thanks to [Ersatz](https://github.com/formidable-webview/ersatz), because Ersatz has a "backend" API that I could easily interface with react-dom.

[2020-10-08 13:57] srdjandjuka opened #26 "Are the table heights synchronized? If they are, how to disable syncing?"
When I open first tab with table, it works great.

![Screenshot_20201008-155042_Mona](https://user-images.githubusercontent.com/32247744/95468197-8f525900-097e-11eb-8ade-3c68744cfb72.jpg)

But when I open second tab with second table, which is higher then first table it creates white space. On iOS it works great, problem only appears on Android.

![Screenshot_20201008-155055_Mona](https://user-ima

[2020-10-08 14:15] jsamr commented on #26
@srdjandjuka Could you provide a reproduction in the form of an Expo snack, or git repository? It is impossible for me to investigate without access to some source code, and context about versions used.

[2020-10-08 14:19] jsamr commented on #26
@srdjandjuka But to answer your question, there is no apparent reason why the heights would be synchronized. Actually, if you try the expo playground, you'll notice multiple tables with distinct heights. The answer likely resides in your code, but I cannot assert that as of right now!

[2020-10-09 06:26] srdjandjuka commented on #26
`
export const cssRules =
  cssRulesFromSpecs(defaultTableStylesSpecs) +
  `
  table, th, td {
    border: 1px solid #F1F1F1;
  }
  th, td {
    padding: 5px;
  }
  table>tbody>tr>td{
    font-size: 10px !important;
    background: #ffffff !important;
  }
  table>tbody>tr:nth-child(2n)>td{
    background: #00000005 !important;
  }
  table{
    width: 100%;
    height: 100%;
  }
  table>thead>tr{

[2020-10-10 08:36] jsamr commented on #26
@srdjandjuka Unfortunately, there is nothing I can reproduce with the code you provided since I can't run it on a simulator. I'm willing to help as soon as I can actually run something and investigate. See also https://stackoverflow.com/help/minimal-reproducible-example

[2020-10-10 08:39] jsamr commented on #26
Usually, the approach I take to do so is:

- Create a new branch in my project, e.g. "table-plugin-26"
- Remove all unnecessary code while reproducing the issue.
- When you've reached the moment where the quantity of source code is minimal, either create a new source or copy here the source reproducing the issues + your package.json.

[2020-10-14 20:53] jsamr commented on #26
Closing due to inactivity. Feel free to post and reopen if you find the time to provide a proper reproduction.

[2020-10-14 20:53] #26 closed

[2020-10-16 07:28] thidasapankaja commented on #25
Sorry about the delay in response. It didn't work for me.
In my case I used _dangerouslysetinnerhtml_ which were usable for my case.

Anyway, Thanks a lot

[2020-10-16 10:38] jsamr commented on #25
@thidasapankaja I am actually implementing an alternative to `react-native-web-webview` ; would you be interested to test a pre-release?

[2020-10-29 07:54] krini commented on #25
Did you create the react-native-web-webview pre-release?

[2020-10-29 12:37] jsamr commented on #25
@krini Yes! A new package, `@formidable-webview/web` has been added to [Ubiquitous project](https://github.com/formidable-webview/ubiquitous). To enable this library after installing, you will have to tell webpack how to do it. [See this webpack config file](https://github.com/formidable-webview/ubiquitous/blob/ec7640cb1cd9499d444cdddc5111ef5801bfa86e/acceptance/web-app/webpack.config.js).

[2020-11-04 13:03] KestasVenslauskas opened #27 "Set text-align in tableStyleSpecs"
### Oath

I swear that I have completed these tasks before submitting:

- [+] I have read the README
- [+] I have checked that the issue has not been reported yet

### Enhancement

As title says there is no options to change text alignment in table cell by default it uses 'center'.
[Example on iOS](https://prnt.sc/vdao84)

[2020-11-04 14:05] jsamr commented on #27
@KestasVenslauskas That would be a nice addition. In the meantime, you can use [cssRules](https://github.com/native-html/table-plugin#how-to-extend-default-or-custom-styles) prop and inject any custom CSS!

[2020-11-26 19:30] #25 closed

[2020-12-21 07:07] LimanASL opened #28 "undefinded is not a function (near '...(0,_reactNativeRenderHtml.domNodeToHTMLString)...')"
### Oath

I swear that I have completed these tasks before submitting:

- [ ] I have read the README
- [ ] I have checked that the issue has not been reported yet

### Bug Report 

#### Environment

##### React Native

[code]

##### Libraries

- react-native-render-html:
- @native-html/table-plugin:
- react-native-webview:

##### Devices

- Device 1 Samsung Galaxy A42
  * OS: Android 10.0
  * Diag

[2020-12-21 07:11] LimanASL commented on #28
**Package Version as following:**

-      "react-native-render-html": "^5.0.1",
-     "@native-html/table-plugin": "^3.1.0",
-     "react-native-webview": "^10.10.2",

[2020-12-21 07:38] #28 closed

[2020-12-23 14:13] jsamr commented on #28
@LimanASL I guess you had an outdated react-native-render-html version, is that it?

[2020-12-30 01:12] LimanASL commented on #28
Yes.

[2021-02-03 13:42] aamiryameen opened #29 "i got error on back press please resolve it, thanks"
### Oath

I swear that I have completed these tasks before submitting:

- [ ] I have read the README
- [ ] I have checked that the issue has not been reported yet

### Bug Report 

#### Environment

##### React Native

[code]

##### Libraries

- react-native-render-html:
- @native-html/table-plugin:
- react-native-webview:

##### Devices

- Device 1
  * OS:
  * Diagnostic:
  * Environment:
- Devic

[2021-02-03 14:04] jsamr commented on #29
@aamiryameen Your report doesn't follow our template, so I am going to close. Likely an instance of a `react-native-screens` bug, see https://stackoverflow.com/a/63171413/2779871

[2021-02-03 14:04] #29 closed

[2021-02-08 21:39] jsamr opened #30 "If you get an error, read this first"
I have recently released new versions for `react-native-render-html@6.x` (foundry) release. If you're not on this pre-release yet, you should pay attention to the version of the plugins you're using. See the below table (available in the root project README):

| react-native-render-html | @native-html/table-plugin

[2021-02-16 10:43] ferasabufares commented on #27
this table html code dose not showing because it contain this align="left" border="1" cellspacing="0" style="width:822.75pt"
how can i remove or ignored all table style

 <table align="left" border="1" cellspacing="0" style="width:822.75pt">

          <tr>
            <th>Entry Header 1</th>
            <th>Entry Header 2</th>
            <th>Entry Header 3</th>
          </tr>
          <tr>

[2021-02-16 11:23] jsamr commented on #27
@ferasabufares Please avoid [threadjacking](https://en.wiktionary.org/wiki/threadjack). If you have questions, you can ping us in the official [Discord channel](https://discord.gg/3B9twTMEzb).  Thank you!

[2021-02-17 10:30] luckybelle opened #31 "[iframe] Video always autoplay. How to disable autoplay?"
I swear that I have completed these tasks before submitting:

- [ x ] I have read the README
- [ x ] I have checked that the issue has not been reported yet

### Bug Report 

#### Environment

##### React Native

System:
    OS: macOS 11.2.1
    CPU: (8) x64 Intel(R) Core(TM) i5-1038NG7 CPU @ 2.00GHz
    Memory: 127.68 MB / 16.00 GB
    Shell: 5.8 - /bin/zsh

  npmPackages:
    react: 16.13.1 => 1

[2021-02-19 15:00] jsamr commented on #31
@luckybelle The issue you are reporting is not inherent to the Iframe plugin, but rather to using a `WebView` component with a `src` referring to a video file instead of HTML file.

You can reproduce the issue very easily with `react-native-webview` alone:

[code]

I suggest either:

- Report a bug in [`react-native-webview`](https://github.com/react-native-webview/react-native-webview) issue trac

[2021-02-19 15:00] #31 closed

[2021-03-24 19:05] Naxus28 opened #32 "[iframe] "scalesPageToFit=true" not zooming out"
The iframe is not zooming out when it exceeds the width of the view. You can see a screenshot of the iframe on ios and android emulators below:
![Screen Shot 2021-03-24 at 2 51 05 PM](https://user-images.githubusercontent.com/5386170/112367775-bbedf900-8cb0-11eb-87fa-f93fa1f9f5e9.png)

These are the config obj and the returned component:

[code]

[2021-03-24 22:51] jsamr commented on #32
@Naxus28 Thanks for your submission! To help you out I would need to know:

- the version of the plugin
- version of react-native-render-html
- version of react-native-webview
- an HTML snippet allowing me to reproduce the issue locally

thanks!

[2021-03-25 20:38] Naxus28 commented on #32
Hey there @jsamr. Other than that everything works smoothly. Thanks for the library. Here you go:
• the version of the plugin: "@native-html/iframe-plugin": "^1.1.2",
• version of react-native-render-html: "react-native-render-html": "^5.0.1",
• version of react-native-webview: "react-native-webview": "^11.2.5",
• an HTML snippet allowing me to reproduce the issue locally:
[code]
Please let me kno

[2021-03-26 16:29] jsamr commented on #32
@Naxus28 You should use `contentWidth` prop of `react-native-render-html`. Here is the fix:

[code]

Tell me if that works out for you.

[2021-03-26 18:48] Naxus28 commented on #32
Nice! That fixed it. I have to keep `defaultWebViewProps.containerStyle.width` though because I am also supporting tables, which won't display if `defaultWebViewProps.containerStyle.width` is not set. Not sure that is the desired behavior but that is how it is working now.

[2021-03-26 18:57] jsamr commented on #32
@Naxus28 interesting; if you find the time for a reproduction I'll welcome it! Closing now as your issue looks addressed :-)

[2021-03-26 18:57] #32 closed

[2021-04-13 15:37] xbot13 opened #33 "[heuristic-table-plugin]table-row/collum styling"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the README
- [x] I have checked that the feature request has not been reported yet
- [x] I have prefixed this issue title with the plugin suffix (e.g: [iframe-plugin]) depending on the affected plugin

### Decision table

- [x] The change I am requesting is not concerning performance
- [x] The change I am req

[2021-04-13 16:52] jsamr commented on #33
@xbot13 Certainly an interesting feature, but not as easy as it might seem.

## Styling rows

Because of `rowspan` attribute support, there might be virtual rows encompassing nested rows. In the example below, we have one root virtual row (in red) and 3 nested rows (in green).

![rowspan](https://user-images.githubusercontent.com/3646758/114588582-37fab180-9c5d-11eb-88ec-4766ba81703e.png)

An othe

[2021-04-13 18:03] xbot13 commented on #33
First of all thanks for the quick response! I appreciate the library and your work.

Honestly I did not think about the `rowspan` at all. It really makes it a lot harder.

But I will definitely have a go at the workaround. And in case someone faces a similar problem, I will post the result here.

Can't wait for the stable release!

[2021-04-13 18:34] jsamr commented on #33
@xbot13 Thank you so much for your feedback. Looking forwards to your findings!

[2021-04-17 19:26] jsamr commented on #33
@xbot13 An alternative would be to export two components / split this lib in two, with a lot of the shared logic packed into a third lib (it's a monorepo, so easy to do). And one of these would not support cell spanning but allows line styling. But it's quite an endeavor and I'm not going to dive into it unless for a paid freelance gig! However, I'm still open to PRs.

[2021-05-06 10:18] demedos opened #34 "[iframe-plugin] Content doesn't scale to fit if the container has some padding"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the README
- [x] I have checked that the issue has not been reported yet
- [x] I have prefixed this issue title with the plugin suffix (e.g: [iframe-plugin]) depending on the affected plugin

### Bug Report 
Content doesn't scale to fit if the container has some padding

#### Environment

##### React Native

[2021-05-06 12:44] jsamr commented on #34
@demedos This is expected. You should provide `contentWidth` prop to `HTML` component. Quoting from the docs here: https://github.com/meliorence/react-native-render-html#props

[2021-05-07 07:12] demedos commented on #34
@jsamr Duh, I haven't read the prop description on the docs. Thank you.

[2021-05-07 07:12] #34 closed

[2021-05-07 13:53] jsamr commented on #34
@demedos No worries :-) happy coding!

[2021-05-07 14:05] jsamr commented on #34
@demedos If I understood your requirement well, this feature is available in v6 (foundry release)! Yet in alpha, but very soon the API be frozen and a beta-released with a brand new doc website! See https://github.com/meliorence/react-native-render-html/issues/430

[2021-05-11 14:36] dzpt commented on #29
@jsamr the error is still there on `react-native-screens@2.18.1`

[2021-06-30 04:02] gelodgreat opened #36 "Table not showing"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the README
- [x] I have checked that the issue has not been reported yet
- [x] I have prefixed this issue title with the plugin suffix (e.g: [iframe-plugin]) depending on the affected plugin

### Bug Report 
Tables won't show even using the sample table render, tested this on iOS and Android latest versions

[2021-06-30 04:04] gelodgreat commented on #36
here's sample screenshot
![image](https://user-images.githubusercontent.com/20021423/123900265-58ecbc00-d99b-11eb-983c-2413c3b51d35.png)

[2021-06-30 04:54] gelodgreat commented on #36
Fixed, seems need to use the IGNORED_TAGS of this lib instead of render-html lib

[2021-06-30 04:54] #36 closed

[2021-07-23 17:13] donni106 commented on #13
should this work with expo and version 2.1.5? i am not able to make my custom font work.

[2021-08-02 15:58] janrop opened #37 "[heuristic-table-plugin] forceStretch causes crash"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the README
- [x] I have checked that the issue has not been reported yet
- [x] I have prefixed this issue title with the plugin suffix (e.g: [iframe-plugin]) depending on the affected plugin

### Bug Report 

#### Environment

##### React Native

[code]

##### Libraries

- react-native-render-html: 6.0.4
- @@

[2021-08-04 20:49] jsamr commented on #37
@janrop I am going to leave it open until someone can share a reproduction; not much actionable for me right now...

[2021-08-04 20:53] janrop commented on #37
The whole issue arose because a single cell table containing only an image was rendered with 0% width. Could it be an option to add a min width parameter for the whole table?

[2021-08-04 22:52] jsamr commented on #37
@janrop I'm assuming `tagsStyles.table.minWidth` would work, have you tried it out?

[2021-08-19 18:16] emmguyot-adscom opened #38 "[iframe-plugin] Add an option to add headers to the webview"
### Oath

I swear that I have completed these tasks before submitting:

- [X ] I have read the README
- [X ] I have checked that the feature request has not been reported yet
- [X ] I have prefixed this issue title with the plugin suffix (e.g: [iframe-plugin]) depending on the affected plugin

### Decision table

- [X ] The change I am requesting is not concerning performance
- [X ] The change I a

[2021-08-19 21:55] jsamr commented on #38
@emmguyot-adscom PRs are welcomed!

[2021-10-11 14:46] agoudsmit opened #41 "[iframe-plugin] html string with iframe, iframe will not work"
### Oath

I swear that I have completed these tasks before submitting:

- [ x] I have read the README
- [ x] I have checked that the issue has not been reported yet
- [x ] I have prefixed this issue title with the plugin suffix (e.g: [iframe-plugin]) depending on the affected plugin

### Bug Report 
I have tried to get the iframe (youtube) to display within the iOS simulator, but it only renders h

[2021-10-12 14:21] agoudsmit commented on #41
thanks for the quick action. I'll check right now.

[2021-10-12 14:32] jsamr commented on #41
@agoudsmit Thanks for your submission! I'm keeping the issue open as there is still a fix to provide!

[2021-10-13 11:53] #38 closed

[2021-10-13 11:54] #30 closed

[2021-10-13 11:56] #37 closed

[2022-01-04 18:14] Skullcan opened #42 "[heuristic-table-plugin] Text not showing when using tableRenderers"
### Oath

I swear that I have completed these tasks before submitting:

- [ x ] I have read the README
- [ x ] I have checked that the issue has not been reported yet
- [ x ] I have prefixed this issue title with the plugin suffix (e.g: [iframe-plugin]) depending on the affected plugin

### Bug Report 
When using the tableRenderers imported from heuristic-table-plugins the text inside the cels are

[2022-11-10 17:43] janrop opened #43 "[table-plugin] Android app (expo go and production) crashes for certain html content"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the README
- [x] I have checked that the issue has not been reported yet
- [x] I have prefixed this issue title with the plugin suffix (e.g: [iframe-plugin]) depending on the affected plugin

### Bug Report 

#### Environment

##### React Native

[code]

##### Devices

- Device 1 physical (Samsung Galaxy S10)